// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// FontAwesome
@import "~@fortawesome/fontawesome-free/css/all.css";

/* univerisal */
body {
    font-family: Georgia, Times, "Times New Roman", serif;
}

/* header */
.navbar-static-top {
    border-color    : #333;
    background-color: #969699;
    box-shadow      : 0px 1px 11px 2px rgba(42, 42, 42, 0.1);
    border-top      : 4px solid #101010;
    margin-bottom   : 40px;
    margin-top      : 0px;
}

.user-name {
    padding-top: 5px;
    display    : inline-block;
}

.user-img {
    width     : 25px;
    height    : 25px;
    margin-top: -5px;
}

/* sticky Footer Styles */
html {
    position  : relative;
    min-height: 100%;
}

body {
    /* margin bottom by footer height */
    margin-bottom: 60px;
}

/* footer */
.footer {
    position        : absolute;
    bottom          : 0;
    width           : 100%;
    /* Set the fixed height of the footer here */
    height          : 60px;
    background-color: #101010;

    .container {
        padding-right: 15px;
        padding-left : 15px;

        p {
            margin: 19px 0;
            color : #c1c1c1;

            a {
                color: inherit;
            }
        }
    }
}

/* auth */
.auth-form {
    box-shadow: 2px 5px 7px 5px rgba(26, 25, 25, 0.3);
}

/* Product & Favourite Page */
.products-index-page,
.products-favorites-page {
    .products-list {
        padding: 0 15px;

        .product-item {
            padding      : 0 5px;
            margin-bottom: 10px;

            .product-content {
                border: 1px solid #eee;

                .top {
                    padding: 5px;

                    img {
                        width: 100%;
                    }

                    .price {
                        margin-top : 5px;
                        font-size  : 20px;
                        color      : #ff0036;
                        font-weight: bold;

                        b {
                            font-size: 14px;
                        }
                    }

                    .title {
                        margin-top : 10px;
                        height     : 32px;
                        line-height: 12px;
                        max-height : 32px;

                        a {
                            font-size      : 12px;
                            line-height    : 14px;
                            color          : #333;
                            text-decoration: none;
                        }
                    }
                }

                .bottom {
                    font-size: 12px;
                    display  : flex;

                    &>div {
                        &:first-child {
                            border-right: 1px solid #eee;
                        }

                        padding    : 10px 5px;
                        line-height: 12px;
                        flex-grow  : 1;
                        border-top : 1px solid #eee;
                    }
                }
            }
        }
    }

    .pagination {
        margin-right: 5px;
    }

    .search-form {
        padding      : 0 5px 10px;
        margin-bottom: 10px;
        border-bottom: 1px solid #eee;
    }
}

/* Product Detail Page */
.products-show-page {
    .cover {
        width  : 300px;
        height : 300px;
        border : solid 1px #eee;
        padding: 30px 0;
    }

    .title {
        font-size    : 24px;
        font-weight  : bold;
        margin-bottom: 10px;
    }

    .price {
        label {
            width       : 69px;
            color       : #999;
            font-size   : 16px;
            padding-left: 10px;
        }

        span {
            font-size      : 20px;
            font-weight    : bolder;
            text-decoration: none;
            vertical-align : middle;
        }

        line-height     : 30px;
        background-color: #e9e9e9;
        color           : red;
        font-size       : 20px;
    }

    .sales_and_reviews {
        border-top    : 1px dotted #c9c9c9;
        border-bottom : 1px dotted #c9c9c9;
        margin        : 10px 0;
        display       : flex;
        flex-direction: row;
        font-size     : 16px;

        &>div {

            &.sold_count,
            &.review_count {
                border-right: 1px dotted #c9c9c9;
            }

            width     : 33%;
            text-align: center;
            padding   : 5px;

            .count {
                color      : #FF0036;
                font-weight: 700;
            }
        }
    }

    .skus {
        &>label {
            color    : #999;
            font-size: 16px;
            padding  : 10px;
        }

        .btn-group {
            label {
                border-radius: 0 !important;
                margin       : 1px 3px;
                padding      : 2px 5px;
                ;
                font-size: 14px;
            }

            .btn {
                border: 1px solid #ccc;
            }

            .btn.active,
            .btn:hover {
                margin-top: 0px !important;
                background: #fff !important;
                border    : 2px solid red !important;
            }

            .btn.focus {
                outline: 0 !important;
            }
        }
    }

    .cart_amount {
        label {
            color    : #999;
            font-size: 16px;
            padding  : 0 10px 0 10px;
        }

        font-size: 16px;
        color    : #888;
        margin   : 10px 0 20px;

        input,
        .stock-val {
            width        : 50px;
            display      : inline-block;
            border-radius: 0 !important;
        }

        .stock {
            margin-left : 15px;
            margin-right: 5px;
            font-size   : 16px;
            font-weight : normal;
        }
    }

    .product-detail {
        .nav.nav-tabs>li>a {
            border-radius: 0 !important;
        }

        margin: 20px 0;

        .tab-content {
            border : 1px solid #eee;
            padding: 20px;
        }
    }
}

/* Cart Index Page */
.cart-index-page {
    .table th, .table td {
        border-top: none;
    }
    .product_list {
        .preview {
            img {
                max-width : 80px;
                max-height: 80px;
            }

            margin-right: 20px;
        }

        .product_info {
            display       : flex;
            flex-direction: row;
            align-items   : flex-start;
            font-size     : 16px;

            .product_title,
            .sku_title,
            .warning {
                display: block;
            }

            .product_title a {
                color    : #262626;
                font-size: 18px;
            }

            .product_title a:hover,
            a:focus {
                color: #9c9c9c;
            }

            .not_on_sale {

                .product_title,
                .sku_title {
                    text-decoration: line-through;
                }

                .warning {
                    color: red;
                }
            }
        }

        input.amount {
            width        : 60px;
            border-radius: 0 !important;
        }
    }
}

/* Order Index Page */
.orders-index-page {
    .table th, .table td {
        border-top: none;
    }
    .list-group-item {
        font-size    : 14px;
        border       : none;
        padding      : 0;
        margin-bottom: 15px;

        .table {
            margin: 0;

            td[rowspan] {
                border-left: 1px solid #ddd;
            }
        }

        .product-info {
            display       : flex;
            flex-direction: row;

            .preview {
                img {
                    max-width : 80px;
                    max-height: 80px;
                }

                border      : 1px solid #eee;
                margin-right: 5px;
            }

            .product-title,
            .sku-title {
                margin-left: 15px;
                display    : block;
            }

            .product-title>a {
                color: #3c3c3c;
            }

            .sku-title {
                color: #9e9e9e;
            }
        }

        .total-amount {
            font-weight: bolder;
        }
    }
}

/* Order Detail Page */
.orders-show-page {
    .table td {
        border-top: none;
    }
    font-size: 14px;

    .vertical-middle {
        vertical-align: middle;
    }

    .product-info {
        display       : flex;
        flex-direction: row;

        .preview {
            img {
                max-width : 80px;
                max-height: 80px;
            }

            border      : 1px solid #eee;
            margin-right: 5px;
        }

        .product-title,
        .sku-title {
            margin-left: 15px;
            display: block;
        }

        .product-title>a {
            color: #3c3c3c;
        }

        .sku-title {
            color: #9e9e9e;
        }
    }

    .table {
        margin-bottom: 0;
    }

    .item-amount {
        padding-right: 20px;
        width        : 200px;
    }

    .order-bottom {
        display       : flex;
        flex-direction: row;
    }

    .order-info {
        width: 50%;

        .line {
            display       : flex;
            flex-direction: row;

            .line-label {
                margin-left: 15px;
                width     : 100px;
            }

            .line-value {
                flex-shrink: 100;
            }
        }

        border-right: 1px solid #ddd;
    }

    .order-summary {
        width      : 50%;
        margin-left: 15px;
        padding-left: 30px;
        .line {
            display       : flex;
            flex-direction: row;

            .line-label {
                margin-left: 15px;
                width     : 100px;
            }

            .line-value {
                margin-left: 30px;
            }
        }


        .total-amount {
            font-weight: bolder;
            font-size  : 16px;
        }

        .value {
            display      : inline-block;
            width        : 150px;
            padding-right: 20px;
        }
    }

    .payment-buttons {
        margin-top: 15px;
        padding-right: 15px;
    }

    .note {
        display: inline-block;
        margin-top: 15px;
        font-weight: bolder;
    }
}

/* Invoice Page */
.payment-invoice-page {
    text-align: center;
    .card .card-header {
        background-color: greenyellow;

        font-size: 18px;
        font-weight: bolder;
    }
    .invoice-success {
        font-weight: bolder;
    }
}
